.contact-us {
  display: flex;
  justify-content: space-between;
  margin-right: 13%;
  margin-left: 15%;
  width: 73%;
}

.image-contact {
  margin-top: -45px;
  margin-bottom: -45px;
  overflow: hidden;
  z-index: -1;
}
